<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a
      href="index.html"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>Home</span>
    </a>
    <a
      href="index.html"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>Features</span>
    </a>
    <a
      href="index.html"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link2"
    >
      <span>Team</span>
    </a>
    <a
      href="index.html"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link3"
    >
      <span>Blog</span>
    </a>
    <a
      href="index.html"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link4"
    >
      <span>About</span>
    </a>
  </nav>
</div>
